<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">CREAR PRODUCTO</span>
                    <!-- To link the html form with the angular form we use the keyword [formGroup]="name of the form 
                            group in the component ts file" -->
                    <!-- The method used when the user submits the form is linked via the (ngSubmit) keyword. And don't forget
                    to put () in the method please! -->
                    <form class="mt-3" [formGroup]="productoForm" (ngSubmit)="agregarProducto()">
                        <div class="mb-3">
                            <!-- To link the html form with the angular form we use the keyword formControlName="name of the
                                variable inside de formGroup in the ts file" -->
                            <input type="text" formControlName="producto"
                            class="form-control form-control-lg" placeholder="Producto">
                            <!-- With the *ngIf keyword we can show some html code if some condition is met
                                 In this case we are showing this div only if there is some value in the producto input and also if the user has clicked in the input
                                 and got out -->
                            <div class="text-danger" *ngIf="productoForm.get('producto')?.hasError('required') && productoForm.get('producto')?.touched">
                              <span>El nombre del producto <strong> es obligatorio</strong></span>
                            </div>
                          </div>
                          <div class="mb-3">
                            <input type="text" formControlName="categoria"
                            class="form-control form-control-lg" placeholder="Categoria">
                            <div class="text-danger" *ngIf="productoForm.get('categoria')?.hasError('required') && productoForm.get('categoria')?.touched">
                              <span>El nombre de la categoria <strong> es obligatorio</strong></span>
                            </div>
                          </div>
                          <div class="mb-3">
                            <input type="text" formControlName="ubicacion"
                            class="form-control form-control-lg" placeholder="Ubicacion">
                            <div class="text-danger" *ngIf="productoForm.get('ubicacion')?.hasError('required') && productoForm.get('ubicacion')?.touched">
                              <span>El nombre de la ubicacion <strong> es obligatorio</strong></span>
                            </div>
                          </div>
                          <div class="mb-3">
                            <input type="number" formControlName="precio"
                            class="form-control form-control-lg" placeholder="Precio">
                            <div class="text-danger" *ngIf="productoForm.get('precio')?.hasError('required') && productoForm.get('precio')?.touched">
                              <span>El precio <strong> es obligatorio</strong></span>
                            </div>
                          </div>
                          <div class="mb-3">
                            <button routerLink="/" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit" [disabled]="productoForm.invalid" class="btn btn-success btn-lg float-end">ACEPTAR</button>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>